[controller]
controller-1 ansible_host=192.168.122.10 ansible_port=22 ansible_user=user ansible_ssh_private_key_file=./keys/user_key

[worker]
worker-1 ansible_host=192.168.122.21 ansible_port=22 ansible_user=user ansible_ssh_private_key_file=./keys/user_key
worker-2 ansible_host=192.168.122.22 ansible_port=22 ansible_user=user ansible_ssh_private_key_file=./keys/user_key
worker-3 ansible_host=192.168.122.23 ansible_port=22 ansible_user=user ansible_ssh_private_key_file=./keys/user_key

[all:children]
controller
worker

[all:vars]
; GPUStack variables
gpustack_data_dir=/home/user/gpustack/data
gpustack_cache_dir=/home/user/gpustack/cache
gpustack_log_dir=/home/user/gpustack/log

gpustack_server_host=192.168.122.10
gpustack_server_port=6712
gpustack_bootstrap_password=admin12345
gpustack_token=abcd1234

; Monitoring variables
grafana_server_host=192.168.122.10
grafana_server_port=8081
grafana_initial_admin_user=admin
grafana_initial_admin_password=admin12345
grafana_initial_admin_email=admin@localhost

; Docker container image tags
node_exporter_version = v1.8.2
cadvisor_version = v0.49.2
nvidia_gpu_exporter_version = 1.2.1
prometheus_version = v3.0.1
grafana_version = 11.4.0

; Ansible credentials
ansible_sudo_pass=user
ansible_ssh_common_args='-o IdentitiesOnly=yes'