# Common Options
debug: false
data_dir: {{ gpustack_data_dir }}
cache_dir: {{ gpustack_cache_dir }}
token: {{ gpustack_token }}

# Server Options
#host: 0.0.0.0
port: {{ gpustack_server_port }}
#disable_worker: false
#ssl_keyfile: /path/to/keyfile
#ssl_certfile: /path/to/certfile
#force_auth_localhost: false
bootstrap_password: {{ gpustack_bootstrap_password }}
#ollama_library_base_url: https://registry.mycompany.com
#disable_update_check: false